<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="../styles/edits.css">
  <title>mapumundi</title>
  <link href=“https://fonts.googleapis.com/css?family=Anton|Montserrat|Raleway&display=swap” rel=“stylesheet”>
  <script id="vars">
    const mapJson = <%- JSON.stringify(mapJson) %>
  </script>
</head>
<body>
   <%- include('partials/nav') %>
  <main class=mainbox>
    <div class="row">
    <div class="column">
      <div class="toggle"><p>Create a Header</p></div>
    <div class="createbox">
      <form action="/map_show/<%= mapJson.id %>" method="POST">
        <input id="pac-input" class="controls" name="name" type="text" placeholder="Search Something">
        <input type="hidden" id="longitude" name="lng">
        <input type="hidden" id="latitude" name="lat">
        <input type="hidden" id="title" name="title">
        <div>
          <input type="text" name="description" id="description" placeholder="Describe your marker">
        </div>
        <div>
          <input type="text" name="image_url" id="image_url" placeholder="Add thumbnail URL">
        </div>
        <button type="submit">Add</button>
      </form>
    </div>
    <div class="markerbox">
      <h2>Markers</h2>
      <% const reverseMarkers = mapJson.markers.reverse()
       for (const marker of reverseMarkers) { %>
        <h4><%= marker.marker_title %></h4>
        <p><%= marker.description %></p>
        <img src="<%= marker.image_url %>">
        <form action="/map_show/<%= mapJson.id %>/DELETE" method="POST">
          <input type="hidden" name="marker_id" value="<%= marker.id %>">
          <button class="delete" type="submit">⦻</button>
        </form>
      <% } %>
    </div>
    </div>
<!--

-->
    <div class="mapbox">
      <h2><%= mapJson.map_title%></h2>
      <h4><%= mapJson.description%></h4>

    <!-- <h3>Name of Map</h3>
    <img src= "https://www.asheya.com/wp-content/uploads/2018/03/Google-Map-Vancouver.jpg"> -->
  </div>
  </main>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAl8y8muQpq4QUgU_Hrn4ktZlO4kH2BwA&libraries=places"></script>
  <script src="/scripts/initialize-map.js"></script>
  <script src="/scripts/show-map-helper.js"></script>
</div>
</body>
</html>
